<% provide(:title, "Home") %>
<div class='jumbotron'>
  <div class='jumbotron-content'>
    <h1>Welcome to Leeson Recipes!</h1>
    <%= link_to "Sign up now!", signup_path, class: "button" %>
  </div>
</div>